.productos{
    background-color: #DCA650;
    
    position:relative;
    width: 100%; 
    
}


.home{
    position: relative;
    left: 50px; 
}
.card{
  position:relative;
   
}
#bocom{
    background-color: #B34F16;
    border: 1px solid #B34F16;
}
.custom-navbar .navbar-nav .nav-link {
    color: #ffffff; /* Color del texto de los enlaces */
    width: 80%;
}

/*avatar*/


.avatar {
    display: inline-block;
    width: 40px; /* Ajusta el tamaño del avatar según sea necesario */
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px; /* Añade un margen para separar del texto */
    vertical-align: middle; /* Alinea verticalmente en el medio */
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
