

    .producto-contenedor {
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
    }

    .producto-contenedor .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .producto-contenedor .col-md-6 {
        flex: 1;
        padding: 10px;
    }

    #producto-imagen img {
        max-width: 100%;
        border-radius: 8px;
        transition: transform 0.2s;
    }

    #producto-imagen img:hover {
        transform: scale(1.05);
    }

    #producto-detalles {
        padding-left: 20px;
    }

    #producto-detalles h2 {
        margin-bottom: 10px;
        color: #333;
    }

    #producto-detalles p {
        margin-bottom: 5px;
        color: #555;
    }

    .producto-opciones {
        margin-top: 15px;
    }

    .reaction-icon {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: transform 0.2s, filter 0.2s;
        margin-right: 10px;
    }

    .reaction-icon:hover {
        transform: scale(1.1);
    }

    .reaction-icon.liked {
        filter: brightness(0) saturate(100%) invert(45%) sepia(90%) saturate(400%) hue-rotate(120deg) brightness(85%) contrast(90%);
    }

    .reaction-icon.disliked {
        filter: brightness(0) saturate(100%) invert(45%) sepia(90%) saturate(400%) hue-rotate(120deg) brightness(85%) contrast(90%);
    }

    .producto-comprar {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        background-color: #c29349;
        color: white;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    .producto-comprar:hover {
        background-color: #c29349;
    }

    @media (max-width: 768px) {
        .producto-contenedor .row {
            flex-direction: column;
        }

        #producto-detalles {
            padding-left: 0;
            padding-top: 20px;
        }
    }

