.productos{
    background-color: #DCA650;
    position:relative;
    position:absolute;
    width: 90%; 
    margin-left: -4%;
}


.home{
    position: relative;
    left: 50px; 
}
.card{
  position:relative;
   
}
#bocom{
    background-color: #B34F16;
    border: 1px solid #B34F16;
}