/* usuario_creado.css */

/* Estilo general del formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Estilo de los grupos de formulario */
.form-group {
    margin-bottom: 15px;
}

/* Estilo de las etiquetas de los campos */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo de los campos de entrada */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
.btn-primary {
    background-color: #c29349;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #a37a36;
}

/* Estilo para el div de error */
#error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Estilo para los campos de contraseña */
.clave {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* Estilo para los elementos select */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Media queries para responsividad */

/* Para dispositivos móviles */
@media (max-width: 600px) {
    .form-control,
    select {
        font-size: 14px;
    }

    .btn-primary {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .toggle-password {
        width: 18px;
        height: 18px;
    }
}

/* Para tabletas y pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
    .btn-primary {
        padding: 12px 24px;
        font-size: 15px;
    }

    .toggle-password {
        width: 18px;
        height: 18px;
    }
}
